<component name="ArtifactManager">
  <artifact type="war" name="Mybatis-reverseEngineering:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Mybatis-reverseEngineering.war">
      <element id="artifact" artifact-name="Mybatis-reverseEngineering:war exploded" />
    </root>
  </artifact>
</component>